@using System.Web.Optimization
@model eUseControl.Models.IndexData

<div class="container" id="result">
    <div class="row">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @id = "AdminForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-lg-9" style="margin:auto">
                <h3>Our Offer</h3>
                <p class="mb-4">Robust, reliable, and efficient agricultural machinery that supports you every step of the way, ensuring comfort and productivity in your farming operations!</p>
                <!-- Slideshow container -->
                <div class="slideshow-container">
                    @if (Model?.vehiclesData?.vehicles != null)
                    {
                        foreach (var car in Model.vehiclesData.vehicles)
                        {
                            <div class="mySlides">
                                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                                <div class="nonloop-block-13 owl-carousel">
                                    <div class="item-1">
                                        <img alt='Image' class='img-fluid' src="~/Images/Cars/BMW_M5_CS.jpg" />
                                        <div class="item-1-contents">
                                            <div class="text-center">
                                                <h3><a href="#">@car.name</a></h3>
                                                <div class="rating">
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                </div>
                                                <div class="rent-price"><span>$@car.price</span> /day</div>
                                            </div>
                                            <ul class="specs">
                                                <li>
                                                    <span>Power</span>
                                                    <span class="spec">@car.Power</span>
                                                </li>
                                                <li>
                                                    <span>Seats</span>
                                                    <span class="spec">@car.torque</span>
                                                </li>
                                                <li>
                                                    <span>Transmission</span>
                                                    <span class="spec">@car.weight</span>
                                                </li>
                                                <li>
                                                    <span>Minium age</span>
                                                    <span class="spec">18 years</span>
                                                </li>
                                            </ul>
                                            <div class="d-flex action">
                                                <a href="/Home/contact" class="nav-link">Rent Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if (ViewBag.Role == eUseControl.Domain.Enums.URole.Admin)
                                {
                                    <a name="deleteCar" href="@Url.Action("DeleteCar", "Home", new { name = car.name })">❌ Delete this car</a>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <p>No cars available at the moment.</p>
                    }
                </div>
                @if (ViewBag.Role == eUseControl.Domain.Enums.URole.Admin)
                {
                    <div style="display:inline-block;position:absolute; right:0px">
                        <a href="@Url.Action("AddVehicle", "Home")">+ Add new Vehicle</a>
                    </div>
                }
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");

        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex - 1].style.display = "block";
    }
</script>
